section {
  height: 100dvh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
}
section img {
  max-width: 300px;
  margin-bottom: 1.5rem;
}
section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
section p {
  font-size: 1rem;
  color: #666;
}
